.lightblue {

  background-color: lightblue;
  color: black;

}

.darkblue {

  background-color: darkblue;
  color: white;

}

#changeBackgroundButton {

  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

}